git+https://bitbucket.csiro.au/scm/sc/sensor-api-python-client.git#egg=senaps_sensor
git+https://bitbucket.csiro.au/scm/sc/tds-client-python.git#egg=tds_client
git+https://bitbucket.csiro.au/scm/sc/tdm-client-python.git#egg=tdm
git+https://bitbucket.csiro.au/scm/sc/as-client-python.git#egg=as_client
flask
enum34
requests
